In [28]:
import pandas as pd
import Levenshtein

In [18]:
data = pd.read_csv('geo.csv').dropna()

In [21]:
data.head()

,dirty,clean
0,"Удмуртская Республика, г. Ижевск, ул. Ворошило...","г. Ижевск, ул. Ворошилова, 23"
1,"Оренбургская область, Саракташский район, с. Н...","с. Новочеркасск, Центральная улица, 2"
2,"Псковская область, г. Великие Луки, пр-кт Гага...","г. Великие Луки, пр-кт Гагарина, 6"
3,"Псковская обл.,г. Великие Луки, пр-кт Октябрьс...","г. Великие Луки, пр-кт Октябрьский, 52"
4,"Псковская обл., г. Великие Луки, ул. Мелиорато...","г. Великие Луки, ул. Мелиораторов, 7"

In [22]:
data.shape

(29695, 2)

In [26]:
data['tokenized'] = data['dirty'].apply(
    lambda text:
        text.replace(',', ' , ').replace('  ', ' ').split(' ')
)

data['tokenized'][0]

['Удмуртская',
 'Республика',
 ',',
 'г.',
 'Ижевск',
 ',',
 'ул.',
 'Ворошилова',
 ',',
 '23']

In [41]:
%%time
max = 0

sum = 0
for text in data['clean']:
    sum += Levenshtein.distance(text, data['clean'][0])
if sum > max:
    max = sum
    print(max)

656647
CPU times: user 289 ms, sys: 4 ms, total: 293 ms
Wall time: 291 ms

In [40]:
Levenshtein.distance(data['clean'][0], data['clean'][1])

26